*, *::after, *::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
:root{
    --bar-width: 68px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: #ffffff;
    --hamburger-margin: 5px ;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2);
    --x-width: calc(var(--hamburger-height)* 1.41425356237);

}
.hamburger-menu{
    --x-width: calc(var(--hamburger-height)* 1.41425356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    position: absolute;
    width: max-content; 
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    cursor: pointer;
    z-index: 2;
}
.hamburger-menu:has(input:checked){
    --foreground:  #ffffff;
    --background: #333;
}
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu input:focus-visible{
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::after,
.hamburger-menu::before,
.hamburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 999px;
    gap: var(--hamburger-gap);
    transition: opacity var(--animation-timing),
    width var(--animation-timing), rotate var(--animation-timing),
    transform var(--animation-timing),  background-color var(--animation-timing);
    transform-origin: left center;
}
.hamburger-menu:has(input:checked)::before{
    rotate: 45deg; 
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/-2);
}
.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/2);
}
.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: 0;
    pointer-events: none;    
}
.hamburger-menu input:checked{
    opacity: 0;
    width: 0;
}
.sidebar{
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 10rem;
    min-height: 100vh;
}
.hamburger-menu:has(input:checked) + .sidebar{
    translate: 0;
}